<form action='/links' method="GET">
  <label for="email">
    Email address:
    <input type="text" name="email" />
  </label>
  <label for="password">
    Password:
    <input type="text" name="password" />
  </label>
  <input type="submit" value="Sign up" />
</form>
